#gallery {
    height: var(--galleryHeaderHeight);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../../../images/hero.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery h1 {
    color: var(--gallertH1Color);
    font-size: var(--galleryH1FontSize);
}

#view .category {
    margin: var(--galleryCategoryMargin);
    width: var(--galleryCategoryWidth);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

#view .category p {
    padding: var(--galleryCategoryPMargin);
    font-size: var(--galleryCategoryPFontSize);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--galleryCategoryPColor);
    transition: 1s;
    cursor: pointer;
}

#view .category a:hover {
    border-bottom: var(--galleryCategoryAHoverBorderBottomColor);
}

#view .category .active {
    border-bottom: var(--galleryCategoryAActiveBorderBottomColor);
}

#view .images{
    height: var(--galleryImagesHeight);
    overflow-y: scroll;
    overflow-x: hidden;
    width: var(--galleryImagesWidth);
    margin: var(--galleryImagesMargin);
}

#view .images .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--galleryImagesRowGap);
}

#view .hidden,
#view .hidden video{
    display: none;
}

#view .column img {
    margin-top: var(--galleryImagesColumnMarginTop);
    vertical-align: middle;
    box-shadow: var(--galleryImagesColumnBoxShadow);
}

#view .images::-webkit-scrollbar,
#view .videos::-webkit-scrollbar {
    width: var(--galleryImagesScrollbarWidth); /* Width of the vertical scrollbar */
}

#view .images::-webkit-scrollbar-track,
#view .videos::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
    border-radius: var(--gallerImagesScrollbarThumbBorderRadius); /* Optional: Rounded corners */
}

#view .images::-webkit-scrollbar-thumb,
#view .videos::-webkit-scrollbar-thumb {
    background-color: var(--galleryImagesScrollbarThumbBgColor); /* Color of the scrollbar thumb */
    border-radius: var(--gallerImagesScrollbarThumbBorderRadius); /* Optional: Rounded corners */
    border: var(--galleryImagesScrollbarThumbBorder); /* Optional: Space between the thumb and track */
}

#view .images::-webkit-scrollbar-thumb:hover,
#view .videos::-webkit-scrollbar-thumb:hover {
    background-color: var(--galleryImagesScrollbarThumbHoverBgColor); /* Color on hover */
}

 /* -- */
#view .videos{
    max-height: var(--galleryVideosMaxHeight);
    overflow-y: scroll;
    overflow-x: hidden;
    width: var(--galleryVideosWidth);
    margin: var(--galleryVideosMargin);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--galleryVideosGap);
}

#view .videos video {
    width: var(--galleryVideosVideoWidth);
    height: var(--galleryVideosVideoHeight);
    object-fit: contain;
    background-color: var(--galleryVideosVideoBgColor);
    box-shadow: var(--galleryVideosVideoBoxShadow);
}

/* -- */
@media only screen and (max-width: 1440px){
    #view .category {
        width: var(--gallery1440pxWidth);
    }
}

@media only screen and (max-width: 1024px){
    #gallery h1 {
        font-size: var(--gallery1024pxFontSize);
    }
}

@media only screen and (max-width: 768px){
    #gallery {
        height: var(--gallery768pxHeight);
    }

    #view .category {
        width: var(--gallery768pxCategoryWidth);
    }

    #view .category p {
        font-size: var(--gallery768pxCategoryPFontSize);
    }

    #view .videos{
        display: block;
    }
}

@media only screen and (max-width: 425px){
    #gallery h1 {
        font-size: var(--gallery425pxH1FontSize);
    }

    #gallery {
        height: var(--gallery425pxHeight);
    }

    #view .category p {
        font-size: var(--gallery425pxCategoryPFontSize);
    }
}