#about {
    width: 100%;
    background-color: var(--aboutBgColor);
}

#about section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 50px;
}

#about > h2 {
    text-align: center;
    width: 100%;
    padding: var(--aboutSectionTitlePaddingHeight) var(--aboutSectionTitlePaddingWidth) 0 var(--aboutSectionTitlePaddingWidth);
    font-size: var(--aboutSectionTitleSize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--aboutSectionTitle);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#about .video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .video video{
    width: var(--aboutSectionVideoWidth);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#about .text {
    display: flex;
    justify-content: center;
    text-align: center;
}

#about .text article {
    width: var(--aboutSectionTextWidth);
}

#about .text h1 {
    font-size: var(--aboutSectionTextH3Size);
    margin-bottom: var(--aboutSectionTextH3MarginBottom);
    font-family: "Inter", sans-serif;
}

#about p {
    font-size: var(--aboutSectionTextParagraphSize);
    font-family: "Inter", sans-serif;
}

@media screen and (max-width: 1458px) {
    #about .text h1 {
        --aboutSectionTextH3Size: 1.5rem;
        --aboutSectionTextH3MarginBottom: 50px;
    }

    #about p {
        --aboutSectionTextParagraphSize: 1rem;
    }
}

@media screen and (max-width: 1458px) {
    #about .text {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    #about section {
        display: block;
    }

    #about > section {
        padding: 0;
    }

    #about > h2 {
        padding: var(--aboutSectionTitlePaddingHeight) var(--aboutSectionTitlePaddingWidth) var(--aboutSectionTitlePaddingHeight) var(--aboutSectionTitlePaddingWidth);

    }

    #about .video {
        padding-bottom: 50px;
    }
}