<!DOCTYPE HTML>
<html lang="da-DK">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNJSCWDHVY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-KNJSCWDHVY');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Soranahus er et børne- & ungehjem, som hjælper unge gennem de svære teenageår og forbereder dem på en selvstændig voksentilværelse.">
        <link rel="canonical" href="https://soranahus.weblaunch.dk">

        <title>Børne- og Ungehjem | Soranahus</title>
        <link rel="apple-touch-icon" sizes="180x180" href="inc/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="inc/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="inc/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="inc/images/favicon/site.webmanifest">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="inc/styling/css/common/common.css">
        <link rel="stylesheet" href="inc/styling/css/common/header.css">
        <link rel="stylesheet" href="inc/styling/css/common/contact.css">
        <link rel="stylesheet" href="inc/styling/css/common/footer.css">

        <link rel="stylesheet" href="inc/styling/css/staff/common.css">
        <link rel="stylesheet" href="inc/styling/css/staff/staff.css">
    </head>
    <body>
        <dialog id="mobileModal">
            <article class="header">
                <i class=" mobileModalBackArrow fa fa-angle-left" aria-hidden="true" onclick="changeMobileModal('default')"></i>
                <i class="fa fa-times" aria-hidden="true" onclick="toggleMobileNavigation()"></i>
            </article>
            <nav class="defaultModal mobileNavigationModal">
                <a href="/" class="inactive">Hjem</a>
                <p class="active" onclick="changeMobileModal('staff')">Om Soranahus</p>
                <a href="/for-sagsbehandlere" class="inactive">For sagsbehandlere</a>
                <a href="/for-den-unge" class="inactive">For den unge</a>
                <a href="/galleri" class="inactive">Galleri</a>
                <a href="/" class="inactive">Kontakt</a>
            </nav>
            <nav class="staffModal mobileNavigationModal">
                <a class="active" href="/om-soranahus">Personale</a>
            </nav>
            <section class="socials">
                <div onclick="window.open('https://www.facebook.com/soranahus/', '_blank');"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.instagram.com/soranahus/', '_blank');"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.linkedin.com/organization-guest/company/soranahus', '_blank');"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            </section>
        </dialog>
        <header>
            <section class="logo">
                <img src="inc/images/logo_tekst.svg" alt="Soranahus logo"/>
            </section>
            <nav>
                <a href="/" class="inactive">Hjem</a>
                <div class="dropdown">
                    <a href="/om-soranahus" class="active dropbtn">Om Soranahus</a>
                    <div class="dropdown-content">
                        <a href="/om-soranahus" class="active">Personale</a>
                    </div>
                </div>
                <a href="/for-sagsbehandlere" class="inactive">For sagsbehandlere</a>
                <a href="/for-den-unge" class="inactive">For den unge</a>
                <a href="/galleri" class="inactive">Galleri</a>
                <a href="" class="inactive">Kontakt</a>
            </nav>
            <section class="socials">
                <div onclick="window.open('https://www.facebook.com/soranahus/', '_blank');"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.instagram.com/soranahus/', '_blank');"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.linkedin.com/organization-guest/company/soranahus', '_blank');"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            </section>
            <section id="mobileIcon" class="socials">
                <div><i class="fa fa-bars" aria-hidden="true" onclick="toggleMobileNavigation()"></i></div>
            </section>
        </header>

        <section class="about">
            <article>
                <h1>Om Soranahus</h1>
                <p>Soranahus er etableret i 2014 som en almennyttig fond med visionen om at skabe de bedst mulige udviklingsrammer for udsatte unge og en mission om at skabe Danmarks bedste socialpædagogiske børne- og ungehjem.
                    Soranahus er stiftet af Heidi Holst Seeger og Max Seeger, som varetager henholdsvis den pædagogfaglige ledelse og den administrative ledelse. Fondens bestyrelse er sammensat med blik for de kompetencer, som sikrer faglig og økonomisk stabilitet samt evne til udvikling og tilpasning. Ordet Sorana er valgt da begge stifter er fra Sorø hvor de har boet det meste af deres liv. (Soraner – person fra Sorø)
                    Værdierne for Soranahus er baseret på mange års erfaring inden for det socialpædagogiske felt. Vi er et åbent hus, der inviterer mennesker indenfor og som altid har en tro på, at også de med de hårdeste livsvilkår kan komme videre. Her er plads til det skæve, fordi det skaber dynamik og liv. Mennesker udvikler sig i samspillet med andre, og ved at lægge miljøet og kontakten til rette for de unge på Soranahus optimerer vi deres muligheder for at udvikle deres selvfølelse og selvstændighed, så de kan vokse følelsesmæssigt, socialt og intellektuelt.
                    Soranahus’ er normeret til 11 unge mellem 12 og 18 år, med mulighed for forlængelse til det 25. år.</p>
                <ul>
                    <li>Vi interesserer os for og tager hånd om hinanden.</li>
                    <li>Vi værner om håbet.</li>
                    <li>Vi tør udfordres.</li>
                    <li>Vi vil den skæve vinkel.</li>
                </ul>
                <p>
                    Soranahus er medlem af LOS – Landsforeningen for sociale tilbud. Herigennem er vi med til at påvirke rammebetingelserne for det specialiserede sociale område og sætte fokus på kvalitet og respekt for individuelle behov.
                    <br>
                    Kontakt os og hør mere om vores børne- og ungehjem.
                </p>
            </article>
        </section>

        <section class="frameworks">
            <article>
                <h1>Fysiske rammer</h1>
                <p>Villaen i Undløse ved Holbæk byder på 750 kvm. i to plan med sydvendt have og stor træterrasse.
                    På bostedet Soranahus er masser af plads til både fordybelse og aktiviteter. Huset har bl.a. stort køkken-alrum, fitnessrum, aktivitetsrum med bordtennis, bordfodbold, billard og Playstation-hjørne samt tre badeværelser. Der er 12 store værelser fra 15 kvm og op.
                    I Undløse er der både kommuneskole, idrætshal og øvrige idrætsfaciliteter samt foreningshus og kulturstedet Mejerigården. Der er også et Superbrugsen.
                </p>
                <a href="/galleri">Se fotos og videoer fra huset og vores ture her</a>
            </article>
        </section>

        <section class="staff">
            <article class="welcome">
                <h1>Personale</h1>
                <p>Soranahus faste medarbejdere har i forbindelse med ansættelse gennemført et forløb, der munder ud i
                    opstilling af en personlig, faglig udviklingsplan, som sigter mod at opnå et generelt højt kompetence- og
                    kvalifikationsniveau på Soranahus generelt og hos den enkelte.
                    Dette for at udvikle Soranahus til en mønstervirksomhed, der udgør et meningsfuldt praksisfelt for
                    medarbejderne – og som skaber bæredygtige resultater for de unge/borgerne. Soranahus arbejder kun med
                    personale som alle har en baggrund og erfaring der til enhver tid vil kunne understøtte de unges
                    behandlingsbehov.
                    Soranahus sætter krav til at alle i personalestaben deltager i både supervision og intern uddannelse der
                    foregår løbende.</p>
            </article>
        </section>

        <section class="staffCards">
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
        </section>

        <section class="staff">
            <article class="welcome">
                <h1>Drift og Administration</h1>
                <p>Økonomistyring, IT-systemer og GDPR, Fysiske rammer, Virksomhedsdokumentation, Rapportering samt ekstern
                    kommunikation</p>
            </article>
        </section>

        <section class="staffCards">
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
            <article class="card">
                <section class="image">
                    <img src="inc/images/personale/max.jpg" alt="card image"/>
                </section>
                <section class="text">
                    <h3>Max Seeger</h3>
                    <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                </section>
            </article>
        </section>

        <section class="students">
            <article>
                <h1>Studerende</h1>
                <p>Børne- og ungehjemmet Soranahus modtager pædagogstuderende i 3. års praktik, dog kun en ad gangen.
                I løbet af praktikperioden udarbejder den studerende en skriftlig opgave, som tager udgangspunkt i en aktuel problemstilling på Soranahus og rummer en diskussion mellem teori og praksis.
                Den studerendes egne handlinger og løsningsforslag skal indgå som en væsentlig del af opgaven.
                Vi sætter stor pris på at have praktikanter, for det kræver af os, at vi forklarer og reflekterer over vores pædagogik og metoder samt at vi forholder os til ny viden, som den studerende sætter i spil.
                Som praktikant på Soranahus skal du være forberedt på vagter i alle døgnets timer, og at der kan være perioder, hvor du er alene. Kørekort er et krav.
                <a href="https://soranahus.dk/wp-content/uploads/2024/02/Praktikbeskrivelse-1.pdf">Link til praktikbeskrivelse</a></p>
            </article>
        </section>

        <section class="jobs">
            <article>
                <h1>Ledige stillinger</h1>
                <p>Her opdaterer vi løbende vores ledige stillinger hos Opholdsstedet Soranahus.
                    Du er også altid velkommen til at sende en uopfordret ansøgning.
                    For at læse mere om stillingerne og ansøgning, vælg da venligst det job der har din interesse, nedenfor.
                    <br>
                    Læs <a href="https://soranahus.dk/wp-content/uploads/2024/04/Privatlivspolitik-jobsoegende-Fonden-Soranahus-2024.pdf">privatlivspolitikken for jobsøgning her.</a></p>
                <h2>Generel information omkring Soranahus</h2>
                <p>Dagligdagen på Soranahus er struktureret og målrettet mod at sikre børn og unges trivsel og udvikling. Som et socialpædagogisk opholdssted følger vi de relevante love og retningslinjer, der regulerer vores arbejde og sikrer, at vi lever op til høje standarder for omsorg og støtte. Her er nogle af de vigtigste love og retningslinjer, vi arbejder inden for på Soranahus:</p>
                <ol>
                    <li>Barnets lov: Regionsrådet har beføjelse til at etablere og drive børne- og ungehjem i overensstemmelse med lovgivningen, særligt i henhold til § 43. Disse hjem er designet til at imødekomme behovene hos børn og unge, der af forskellige årsager kræver anbringelse uden for deres hjemmemiljø. Dette kan omfatte sociale eller adfærdsmæssige udfordringer, hvor det er nødvendigt med ekstra støtte og pleje.</li>
                    <li>Handleplaner og støtteplaner: På Soranahus udarbejder vi handleplaner og individuelle støtteplaner for hvert barn eller ung, der bor hos os. Disse planer er baseret på en helhedsorienteret vurdering af deres behov og mål. Handleplanerne fastsætter mål og strategier for deres trivsel, udvikling og fremtidige perspektiver. Støtteplanerne er løbende opdateret og justeret for at imødekomme de skiftende behov hos børnene og de unges individuelle trivsel.</li>
                    <li>Kvalitetsstandarder og tilsyn: Som et socialpædagogisk opholdssted er vi underlagt kvalitetsstandarder og tilsyn, der sikrer, at vi lever op til de fastsatte standarder for omsorg, støtte og kvalitet i vores arbejde. Vi gennemgår regelmæssigt tilsynsbesøg og kvalitetsevalueringer for at sikre, at vi overholder alle relevante love og retningslinjer og kontinuerligt forbedrer vores praksis.</li>
                    <li>Samarbejde med myndigheder og netværk: På Soranahus arbejder vi tæt sammen med relevante myndigheder, herunder kommuner, sagsbehandlere og socialforvaltninger. Samarbejdet er afgørende for at sikre en koordineret og helhedsorienteret indsats for børnene og de unges trivsel og udvikling. Vi vægter også samarbejdet med familier og netværk for at sikre kontinuitet og sammenhæng i børnenes og de unges liv.</li>
                    <li>Etisk praksis og faglig udvikling: På Soranahus arbejder vi ud fra etiske retningslinjer, der sætter fokus på respekt, værdighed og rettigheder for børnene og de unge.</li>
                </ol>
            </article>
        </section>

        <section id="contact">
            <article class="form">
                <form action="" method="POST">
                    <label for="name">Navn</label>
                    <input type="text" name="name" placeholder=""/>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder=""/>
                    <label for="phone">Telefon</label>
                    <input type="tel" name="phone" placeholder=""/>
                    <label for="subject">Emne</label>
                    <input type="text" name="subject" placeholder=""/>
                    <label for="message">Besked</label>
                    <textarea name="message" placeholder=""></textarea>
                    <button type="submit">Send</button>
                    <div class="clear-fix"></div>
                </form>
            </article>
            <article class="info">
                <h3>Skriv til os vedr. vores børne- og ungehjem</h3>
                <p>Har du spørgsmål eller lignende, så er du velkommen til at skrive til os via kontaktformularen eller ringe
                    til os på tlf: <a href="#">57 80 67 80</a></p>
                <section>
                    <article class="card">
                        <section class="image">
                            <img src="inc/images/personale/heidi.jpg" alt="card image"/>
                        </section>
                        <section class="text">
                            <h3>Heidi Seeger</h3>
                            <p>Leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">heidi@soranahus.dk</a></p>
                        </section>
                    </article>
                    <article class="card">
                        <section class="image">
                            <img src="inc/images/personale/max.jpg" alt="card image"/>
                        </section>
                        <section class="text">
                            <h3>Max Seeger</h3>
                            <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                        </section>
                    </article>
                </section>
            </article>
        </section>

        <footer>
            <article>
                <h3>Fonden Soranahus<br><br></h3>
                <p><a href="#">Døgnbehandling, BL §43<br></a>
                    <a href="#">Aflastning<br></a>
                    <a href="#">Familiesupervision<br></a>
                    <a href="#">BL §114 Ungestøtte</a>
                </p>
            </article>
            <article>
                <h3>Soranahus i Undløse<br><br></h3>
                <p>Hovedgaden 16<br>
                    4340 Tølløse<br>
                    Tlf.: <a href="#">+45 57 80 67 80</a><br>
                    Email: <a href="#">mail@soranahus.dk</a>
                </p>
            </article>
            <article>
                <h3>Lovgivning<br><br></h3>
                <p><a href="#">GDPR<br></a>
                    <a href="#">Privatliv og databeskyttelse<br></a>
                    <a href="#">G-6 Facebook forbehold</a>
                </p>
            </article>
        </footer>
        <script src="inc/styling/js/common/header.js"></script>
        <script src="inc/styling/js/staff/staff.js"></script>
    </body>
</html>