<!DOCTYPE HTML>
<html lang="da-DK">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KNJSCWDHVY"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-KNJSCWDHVY');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description"
              content="Soranahus er et børne- & ungehjem, som hjælper unge gennem de svære teenageår og forbereder dem på en selvstændig voksentilværelse.">
        <link rel="canonical" href="https://soranahus.weblaunch.dk">

        <title>Børne- og Ungehjem | Soranahus</title>
        <link rel="apple-touch-icon" sizes="180x180" href="inc/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="inc/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="inc/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="inc/images/favicon/site.webmanifest">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="inc/styling/css/common/common.css">
        <link rel="stylesheet" href="inc/styling/css/common/header.css">
        <link rel="stylesheet" href="inc/styling/css/common/contact.css">
        <link rel="stylesheet" href="inc/styling/css/common/footer.css">

        <link rel="stylesheet" href="inc/styling/css/fortheyoung/common.css">
        <link rel="stylesheet" href="inc/styling/css/fortheyoung/fortheyoung.css">
    </head>
    <body>
        <header></header>
        <!--<dialog id="mobileModal">
            <article class="header">
                <i class=" mobileModalBackArrow fa fa-angle-left" aria-hidden="true" onclick="changeMobileModal('default')"></i>
                <i class="fa fa-times" aria-hidden="true" onclick="toggleMobileNavigation()"></i>
            </article>
            <nav class="defaultModal mobileNavigationModal">
                <a href="/" class="inactive">Hjem</a>
                <p class="inactive" onclick="changeMobileModal('staff')">Om Soranahus</p>
                <a href="/for-sagsbehandlere" class="inactive">For sagsbehandlere</a>
                <a href="/for-den-unge" class="active">For den unge</a>
                <a href="/galleri" class="inactive">Galleri</a>
                <a href="/" class="inactive">Kontakt</a>
            </nav>
            <nav class="staffModal mobileNavigationModal">
                <a class="active" href="/om-soranahus">Personale</a>
            </nav>
            <section class="socials">
                <div onclick="window.open('https://www.facebook.com/soranahus/', '_blank');"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.instagram.com/soranahus/', '_blank');"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.linkedin.com/organization-guest/company/soranahus', '_blank');"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            </section>
        </dialog>
        <header>
            <section class="logo">
                <img src="inc/images/logo_tekst.svg" alt="Soranahus logo"/>
            </section>
            <nav>
                <a href="/" class="inactive">Hjem</a>
                <div class="dropdown">
                    <a href="/om-soranahus" class="inactive dropbtn">Om Soranahus</a>
                    <div class="dropdown-content">
                        <a href="/om-soranahus" class="inactive">Personale</a>
                    </div>
                </div>
                <a href="/for-sagsbehandlere" class="inactive">For sagsbehandlere</a>
                <a href="/for-den-unge" class="active">For den unge</a>
                <a href="/galleri" class="inactive">Galleri</a>
                <a href="" class="inactive">Kontakt</a>
            </nav>
            <section class="socials">
                <div onclick="window.open('https://www.facebook.com/soranahus/', '_blank');"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.instagram.com/soranahus/', '_blank');"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div onclick="window.open('https://www.linkedin.com/organization-guest/company/soranahus', '_blank');"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            </section>
            <section id="mobileIcon" class="socials">
                <div><i class="fa fa-bars" aria-hidden="true" onclick="toggleMobileNavigation()"></i></div>
            </section>
        </header>-->

        <section class="hero">
            <article>
                <h3>For</h3>
                <h2>den unge</h2>
            </article>
        </section>

        <section class="welcome">
            <article>
                <h1>Velkommen</h1>
                <p>Opholdsstedet Soranahus’ slogan er “Vejen til et godt liv”. Når du flytter ind, er vores vigtigste opgave for dig at hjælpe dig på vej til et godt liv.
                    Soranahus er et opholdssted, hvor der samlet set er plads til 11 drenge og piger. Der er god plads både indenfor og udenfor, og du får et rimelig stort værelse, hvor du kan have dine egne ting. Vi gør meget for, at der er hyggeligt at være, og at det føles som et rigtigt hjem. Du kan være med til fritidsaktiviteter, hygge med de andre foran fjernsynet, og du kan altid lave en aftale om at få besøg af familie, kæreste eller venner. Du får helt sikkert også nogle nye venner på Soranahus.
                    Når du flytter ind, får du tilknyttet en af pædagogerne på Soranahus som din egen kontaktperson. Han eller hun vil dig det allerbedste og er altid klar til lytte og snakke.
                    Du kan være med til at bestemme rigtig meget om, hvordan din hverdag er, og på hvilke områder, du gerne vil udvikle dig. Jo bedre, du er til at overholde aftaler med de voksne på Soranahus, des mere får du lov til. Hver 14. dag holder vi et møde, hvor du kan komme med ønsker eller forslag til ændringer eller andet.
                    Du må godt have mobil, og der også internetadgang på Soranahus. Du får tøjpenge og lommepenge, og når du flytter ind, får du en velkomstpakke med en hoodie og badesandaler.
                    En til to gange om året (sommer og vinter) tager vi på tur til udlandet, og en gang om måneden arrangerer vi en udflugt, f.eks. til Zoologisk Have, Experimentarium City, Thylejren eller Gokart.
                    Se foto og video fra nogle af vores ture her
                    Når du har fødselsdag gør vi os virkelig umage for, at du får en rigtig god dag. Og til Påske og Jul pynter vi op i huset sammen. Hvis du holder Nytårsaften på Soranahus kommer du med til festmiddag, og vi ser dronningens nytårstale på tv sammen og fyrværkeriet kl. 24.00. I løbet af året arrangerer vi også nogle forældre/familiedage, hvor din og de andre unges familie kan komme og hygge med en god middag sammen med jer der bor her.
                    Vi glæder os til at møde dig!</p>
            </article>
            <article>
                <img src="inc/images/card.jpg" alt=""/>
            </article>
        </section>

        <section class="daily">
            <article>
                <h1>Dagligdagen på Soranahus</h1>
                <p>Vi lægger stor vægt på, at du får en god start på dagen, så du har tid til at være en del af morgenen.
                    De pædagoger, der har været på Opholdsstedet Soranahus om natten, dækker morgenbord med de morgenmadsprodukter, som du og de andre unge i huset har lyst til at spise. Personalet sørger for at skabe rammerne for et hyggeligt fællesskab omkring morgenbordet, og sammen med jer går de igennem dagens program i forhold til skole, praktik, job og andre praktiske gøremål og aktiviteter.
                    Skolerne ligger nogle kilometer væk fra Soranahus, og vi sørger for, at der bliver lavet aftaler med skolerne om at hente og bringe, så I kommer til tiden. Når du bliver sikker og selvstændig nok, kan du tage turen til og fra skole på egen hånd.
                    Når vi mødes hjemme i huset efter skole, vil der altid være et personale til at tage imod og parat til at tale om dagens oplevelser.
                    I skiftes til at have madlavningsdag, hvor I laver mad sammen med de voksne. Det er for vigtigt for os, at du får sund og god mad. Alle der bor i huset sidder med ved bordet, når vi spiser. Vi spiser aftensmad ved 18-tiden.
                    Inden sengetid er der aftensnack i form af enten smoothie, toast, frugt og grønt samt saft, kaffe/te og hygge, og ca. kl. 23 er det sengetid afhængig af, hvor gammel man er og, hvor stort et søvnbehov, man har. Det er altid de samme voksne, som siger godnat til dig, der også er der, når du vågner næste morgen.
                    Hver 14. dag afholder vi husmøde. Her har du mulighed for at komme til orde med meninger, tanker, ideer, ris, ros og evt. problemer. På husmøderne fortæller de voksne også om kommende aktiviteter og lignende. Alle relevante beslutninger fra husmødet og forslag fra de unge bliver ført til referat og bliver drøftet på det næste personalemøde, så alle de ansatte i huset kan følge med.
                    Ind imellem får vi besøg af nogle, der tidligere har boet på Soranahus, fordi de godt kan lide at vende tilbage en gang imellem. De er altid velkommen, og det vil du også være, når du en gang selv er flyttet fra Soranahus.
                </p>
            </article>
        </section>

        <section class="freetime">
            <article>
                <h1>Fritid</h1>
                <p>Når du bor på Opholdsstedet Soranahus, bliver du typisk inviteret med på tur til udlandet både i sommer- og vinterferien. Ud over spændende oplevelser giver det det også nogle nogle erfaringer med andre kulturer og sammenhænge.
                    Desuden tager vi på udflugt en gang om måneden, f.eks. en tur i Zoologisk Have, Experimentarium City eller på en gokartbane.
                    Eksempler på ferier og udflugter: En uge på 5-stjernet hotel i Tyrkiet, Gokart, Go-high, Fiskespa, Birkegårdens haver, Bakken, Tivoli, Weekendtur til Tyskland, Biografture, Skydning med jagtrifler, Weekend i Lalandia, Udviklingstur til Spanien i to uger, Nytår på Norgesbåden.
                    Ud over udlandsrejserne og udflugter hver måned har du mulighed for at deltage i sports- og aktivitetstilbud i lokalområdet. Vi mener, det er vigtigt for dig at benytte dig af nogle af de tilbud, fordi det giver dig en erfaring i at lære nye mennesker på en god måde.
                    Eksempler på lokale idrætsmuligheder: Gymnastik, fodbold, håndbold, badminton og tennis, rideundervisning, fitness, styrketræning, svømning, dans, sejlads, roning, surfing og skydning.
                    Vi hjælper dig selvfølgelig med kontakten til de tilbud, som du er interesseret i.
                    Hjemme i huset er der også gode muligheder for aktiviteter: Bordtennis (vi tager også til stævner ud af huset), bordfodbold, trampolin og fodboldmål i haven, badminton, rulleskøjter, boksning, computer/PS4, ligesom der Soranahus har sit eget motionscenter.</p>
                    <a href="/gallery">Se fotos og videoer fra huset og vores ture her</a>
            </article>
        </section>

        <section class="housing">
            <article>
                <h1>Egen Bolig</h1>
                <p>På opholdsstedet Soranahus har du mulighed for at flytte i egen bolig, når det er tid for dig at stå på egne ben, men med lidt støtte fra Soranahus. Det kaldes også udslusning. Soranahus hjælper dig med det meste hvorfor det ikke er nødvendigt med hverken boligadvokat eller flyttefirma.
                    Sammen med dig, laver vi og din sagsbehandler fra kommunen en udslusningsplan, hvor vi lægger planer og laver aftaler for, hvordan du kan klare din dagligdag, og hvor du har lyst til og mulighed for at flytte hen. Soranahus har mulighed for at bistå dig med flytningen, indretningen og evt. en istandsættelse ved fraflytning, så længe det aftales med kommunen
                    Inden udslusningsfasen sættes i gang, skal vi foretage en af din evne til at klare dig selv, f.eks. hvor du godt kan klare følgende:
                    <ul>
                        <li>Ansvarlighed/modenhed. At tage vare på dig selv.</li>
                        <li>Tøjvask, hygiejne, indkøb, madlavning, rengøring, pleje af dig selv.</li>
                        <li>Lægge et budget og holde det.</li>
                        <li>Sociale kompetencer. Netværk og fungere sammen med andre.</li>
                        <li>Uddannelse, skole og/eller beskæftigelse.</li>
                    </ul>
                </p>
            </article>
        </section>

        <section id="contact">
            <article class="form">
                <form action="" method="POST">
                    <label for="name">Navn</label>
                    <input type="text" name="name" placeholder=""/>
                    <label for="email">E-mail</label>
                    <input type="email" name="email" placeholder=""/>
                    <label for="phone">Telefon</label>
                    <input type="tel" name="phone" placeholder=""/>
                    <label for="subject">Emne</label>
                    <input type="text" name="subject" placeholder=""/>
                    <label for="message">Besked</label>
                    <textarea name="message" placeholder=""></textarea>
                    <button type="submit">Send</button>
                    <div class="clear-fix"></div>
                </form>
            </article>
            <article class="info">
                <h3>Skriv til os vedr. vores børne- og ungehjem</h3>
                <p>Har du spørgsmål eller lignende, så er du velkommen til at skrive til os via kontaktformularen eller ringe
                    til os på tlf: <a href="#">57 80 67 80</a></p>
                <section>
                    <article class="card">
                        <section class="image">
                            <img src="inc/images/personale/heidi.jpg" alt="card image"/>
                        </section>
                        <section class="text">
                            <h3>Heidi Seeger</h3>
                            <p>Leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">heidi@soranahus.dk</a></p>
                        </section>
                    </article>
                    <article class="card">
                        <section class="image">
                            <img src="inc/images/personale/max.jpg" alt="card image"/>
                        </section>
                        <section class="text">
                            <h3>Max Seeger</h3>
                            <p>Administrativ leder<br><a href="#">+45 57 80 67 80</a><br><a href="#">max@soranahus.dk</a></p>
                        </section>
                    </article>
                </section>
            </article>
        </section>

        <footer>
            <article>
                <h3>Fonden Soranahus<br><br></h3>
                <p><a href="#">Døgnbehandling, BL §43<br></a>
                    <a href="#">Aflastning<br></a>
                    <a href="#">Familiesupervision<br></a>
                    <a href="#">BL §114 Ungestøtte</a>
                </p>
            </article>
            <article>
                <h3>Soranahus i Undløse<br><br></h3>
                <p>Hovedgaden 16<br>
                    4340 Tølløse<br>
                    Tlf.: <a href="#">+45 57 80 67 80</a><br>
                    Email: <a href="#">mail@soranahus.dk</a>
                </p>
            </article>
            <article>
                <h3>Lovgivning<br><br></h3>
                <p><a href="#">GDPR<br></a>
                    <a href="#">Privatliv og databeskyttelse<br></a>
                    <a href="#">G-6 Facebook forbehold</a>
                </p>
            </article>
        </footer>
        <script src="inc/styling/js/common/common.js"></script>
        <script src="inc/styling/js/common/header.js"></script>
        <script src="inc/styling/js/fortheyoung/fortheyoung.js"></script>
    </body>
</html>