<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="inc/styling/css/common.css">
        <link rel="stylesheet" href="inc/styling/css/header.css">
    </head>
    <body>
        <header>

        </header>
        <script src="inc/styling/js/header.js"></script>
    </body>
</html>