<!DOCTYPE HTML>
<html lang="da-DK">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Soranahus er et børne- & ungehjem, som hjælper unge gennem de svære teenageår og forbereder dem på en selvstændig voksentilværelse.">
        <link rel="canonical" href="https://soranahus.dk/">

        <title>Børne- og Ungehjem | Soranahus</title>
        <link rel="apple-touch-icon" sizes="180x180" href="inc/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="inc/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="inc/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="inc/images/favicon/site.webmanifest">
        <script src="https://kit.fontawesome.com/d7cb81324e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Leckerli+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="inc/styling/css/common.css">
        <link rel="stylesheet" href="inc/styling/css/header.css">
        <link rel="stylesheet" href="inc/styling/css/hero.css">
        <link rel="stylesheet" href="inc/styling/css/about.css">
        <link rel="stylesheet" href="inc/styling/css/work.css">
        <link rel="stylesheet" href="inc/styling/css/reviews.css">
    </head>
    <body>
        <header>
            <section class="logo">
                <img src="inc/images/logo_tekst.svg" alt="Soranahus logo" />
            </section>
             <nav>
                <a href="" class="active">Hjem</a>
                <a href="" class="inactive">Om Soranahus</a>
                <a href="" class="inactive">For sagsbehandlere</a>
                <a href="" class="inactive">For den unge</a>
                <a href="" class="inactive">Galleri</a>
                <a href="" class="inactive">Kontakt</a>
            </nav>
            <section class="socials">
                <div><i class="fa fa-facebook" aria-hidden="true"></i></div>
                <div><i class="fa fa-instagram" aria-hidden="true"></i></div>
                <div><i class="fa fa-linkedin" aria-hidden="true"></i></div>
            </section>
        </header>

        <section id="hero">
            <span class="visuallyHidden">Hero alt</span>
            <article>
                <h2>Soranahus</h2>
                <h3><span class="paragraph"></span>.</h3>
            </article>
        </section>

        <section id="about">
            <h2>Om Soranahus</h2>
            <section>
                <article class="text">
                    <article>
                        <h1>Soranahus: Børne- og ungehjem, der baner vejen
                            til et godt liv!</h1>
                        <p>Soranahus er et børne- & ungehjem (før kaldet opholdssted), som hjælper unge med
                            psykiske og sociale vanskeligheder gennem de svære teenageår og forbereder dem på
                            en selvstændig voksentilværelse. Vi tilbyder døgnbehandling, aflastning, midlertidigt
                            botilbud og ungestøtte i et højt fagligt miljø. Desuden tilbyder vi familiesupervision, som
                            indgår uden merpris ved døgnanbringelse.<br><br>


                            Soranahus er et familiært børne- og ungehjem med 11 pladser for unge mellem 12 og 18
                            år (mulighed for op til 25 år) som ligger i Undløse by, der ligger lidt syd for Holbæk, på
                            Sjælland.</p>
                    </article>
                </article>
                <article class="video">
                    <video controls>
                        <source src="inc/videos/about.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </article>
            </section>
        </section>

        <section id="work">
            <h2>Hvad vi laver</h2>
            <section>

                <article class="card">
                    <section class="image">
                        <img src="inc/images/card.jpg" alt="card image" />
                    </section>
                    <section class="text">
                        <h3>Målgruppe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error modi possimus quisquam repellendus sunt ut! Assumenda consectetur corporis cumque deserunt dolores harum iure maiores, molestias natus, odio quaerat rem.</p>
                    </section>
                </article>
                <article class="card">
                    <section class="image">
                        <img src="inc/images/card.jpg" alt="card image"  />
                    </section>
                    <section class="text">
                        <h3>Målgruppe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error modi possimus quisquam repellendus sunt ut! Assumenda consectetur corporis cumque deserunt dolores harum iure maiores, molestias natus, odio quaerat rem.</p>
                    </section>
                </article>
                <article class="card">
                    <section class="image">
                        <img src="inc/images/card.jpg" alt="card image"  />
                    </section>
                    <section class="text">
                        <h3>Målgruppe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error modi possimus quisquam repellendus sunt ut! Assumenda consectetur corporis cumque deserunt dolores harum iure maiores, molestias natus, odio quaerat rem.</p>
                    </section>
                </article>
                <article class="card">
                    <section class="image">
                        <img src="inc/images/card.jpg" alt="card image"  />
                    </section>
                    <section class="text">
                        <h3>Målgruppe</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis error modi possimus quisquam repellendus sunt ut! Assumenda consectetur corporis cumque deserunt dolores harum iure maiores, molestias natus, odio quaerat rem.</p>
                    </section>
                </article>

            </section>
        </section>

        <section id="reviews">
            <h2>Udtalelser</h2>
            <section>
                <article class="review">
                    <h3>Meget Kompetente</h3>
                    <p>"Personalet formår at give de unge mennesker en tryg hverdag 
i faste rammer. De har de unges respekt og gennem deres 
faglighed når de ind til de unge. Vi har været meget tilfredse."  
- Karina Elvison Bjørn</p>
                </article>
                <article class="review">
                    <h3>Familieterapien på soranahus</h3>
                    <p>"Personalet formår at give de unge mennesker en tryg hverdag  i faste rammer. De har de unges respekt og gennem deres  faglighed når de ind til de unge. Vi har været meget tilfredse."   - Karina Elvison Bjørn</p>
                </article>
            </section>
        </section>
        <script src="inc/styling/js/header.js"></script>
        <script src="inc/styling/js/hero.js"></script>
    </body>
</html>