header {
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    transition: var(--headerTransition);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    z-index: 20;
}

header * {
    transition: var(--headerTransition);
}

header .logo {
    width: 20%;
    background-image: url("../../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 80%;
    width: 80%;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: var(--headerNavColor);
    transition: var(--headerSocialsHoverOpacity);
}

header nav .active {
    color: var(--headerNavColorActive);
}

header nav a:hover {
    color: var(--headerNavColorHover);
}

header .socials {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .socials div {
    width: var(--headerSocialsWidth);
    height: var(--headerSocialsHeight);
    border-radius: 2.5px;
    margin: 0 2.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: var(--headerSocialsFontSize);
    background-color: var(--headerSocialsBgColor);
    color: var(--headerSocialsColor);
    cursor: pointer;
}

header .socials div:hover {
    background-color: var(--headerSocialsHoverBgColor);
    color: var(--headerSocialsHoverColor);
    transition: 0.2s;
}


.headerOnScroll {
    --headerHeight: 75px;
    --headerNavColor: var(--primaryColor);


    transition: var(--headerTransition);
    background-color: var(--headerBgColor) !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.headerOnScroll * {
    transition: var(--headerTransition);
}

.headerOnScroll nav .inactive {
    opacity: var(--headerNavOpacityColorInactive);
}

.headerOnScroll nav a {
    transition: var(--headerSocialsHoverOpacity);
}

.headerOnScroll nav a:hover {
    color: var(--headerNavColorActive);
    opacity: 1;
}

#mobileIcon {
    display: none;
}

#mobileModal {
    z-index: 25;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: var(--headerMobileMargin);
    padding: var(--headerMobilePadding);
    background-color: var(--primaryColor);
    border: transparent;
    border-radius: 2px;

    opacity: 0;
    transition: all 0.3s allow-discrete;
}

#mobileModal::backdrop {
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s allow-discrete;
}

#mobileModal[open] {
    opacity: 1;
}

#mobileModal[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
}

@starting-style {
    #mobileModal[open] {
        opacity: 0;
    }

    #mobileModal[open]::backdrop {
        background-color: rgba(0, 0, 0, 0);
    }
}

#mobileModal i {
    color: var(--headerMobileExitColor);
    font-size: var(--headerMobileExitFontSize);
    width: 100%;
    text-align: right;
    cursor: pointer;
}

#mobileModal nav {
    display: grid;
    border-bottom: var(--headerMobileNavBorderBottomThickness) solid var(--headerMobileNavBorderBottomColor);
    margin: var(--headerMobileNavMarginHeight) 0;
    padding: var(--headerMobileNavPaddingHeight) 0;
}

#mobileModal nav a {
    font-size: var(--headerMobileNavFontSize);
    margin: var(--headerMobileNavTextMargin) 0;
    text-decoration: none;
    color: var(--headerMobileNavTextColor);
    transition: var(--headerSocialsHoverOpacity);
    text-align: center;
}

#mobileModal nav .inactive {
    opacity: var(--headerNavOpacityColorInactive);
}

#mobileModal .socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 10%;
}

#mobileModal .socials div {
    width: var(--headerSocialsWidth);
    height: var(--headerSocialsHeight);
    border-radius: 2.5px;
    margin: 0 2.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--headerSocialsBgColor);
    cursor: pointer;
    transition: 1s;
}

#mobileModal .socials div i {
    color: var(--headerSocialsColor);
    font-size: var(--headerSocialsFontSize);
    transition: 1s;
}

#mobileModal .socials div:hover {
    background-color: var(--headerSocialsHoverBgColor);
}

#mobileModal .socials div i:hover {

    color: var(--headerSocialsHoverColor);
    transition: 0.2s;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    margin: 10px 0 0 0;
    display: block; /* Compatibility for hover-based display */
    opacity: 0; /* Initially invisible */
    visibility: hidden; /* Hidden to prevent interaction */
    position: absolute;
    z-index: 1;
    width: 100%;
    max-height: 0; /* Initially zero height */
    overflow: hidden; /* Hide content when height is 0 */
    background-color: var(--secondaryColor);
    transition: max-height 0.5s ease, opacity 0.5s ease, visibility 0.5s ease; /* Smooth growth animation */
}

.dropdown:hover .dropdown-content {
    opacity: 1; /* Fully visible */
    visibility: visible; /* Make interactable */
    max-height: 200px; /* Set to the dropdown's full height (adjust as required) */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: 0.5;
}

.dropdown-content a:hover {
    color: var(--primaryColor);
    opacity: 1;
}

/* Change the background color of the dropdown button when the dropdown content is shown */


/* res */
@media only screen and (max-width: 1314px) {
    header nav a {
        font-size: 1rem;
    }

    header .socials div {
        --headerSocialsWidth: 22.5px;
        --headerSocialsHeight: 22.5px;
        --headerSocialsFontSize: 0.8rem;
    }
}

@media only screen and (max-width: 1314px) {
    header .logo {
        width: 15%;
    }

    header nav {
        width: 75%;
    }

    header .socials {
        width: 10%;
    }
}

@media only screen and (max-width: 910px) {
    header .socials,
    header nav {
        display: none;
    }

    header #mobileIcon {
        display: flex;
        width: 70%;
        justify-content: right;
        padding: 0 15px
    }

    header .logo {
        width: 30%;
    }

    header .socials div {
        --headerSocialsWidth: 30px;
        --headerSocialsHeight: 30px;
        --headerSocialsFontSize: 1.1rem;
    }
}

@media only screen and (max-width: 590px) {
    header .logo {
        width: 50%;
    }

    header #mobileIcon {
        width: 50%;
    }
}