:root {
    --primaryColor: #046474;
    --secondaryColor: #F9F9F8;
    --tertiaryColor: #F1EFEB;

    --headerHeight: 150px;
    --headerTransition: 1s;

    --headerNavColor: var(--secondaryColor);
    --headerNavColorHover: var(--primaryColor);
    --headerNavColorActive: var(--primaryColor);
    --headerNavOpacityColorInactive: 0.6;
    --headerBgColor: var(--secondaryColor);
    --headerSocialsWidth: 30px;
    --headerSocialsHeight: 30px;
    --headerSocialsFontSize: 1.1rem;
    --headerSocialsBgColor: var(--secondaryColor);
    --headerSocialsColor: var(--primaryColor);
    --headerSocialsHoverColor: var(--secondaryColor);
    --headerSocialsHoverBgColor: var(--primaryColor);
    --headerSocialsHoverOpacity: 0.5s;

    --headerMobileMargin: 15px;
    --headerMobilePadding: 30px;
    --headerMobileExitColor: var(--secondaryColor);
    --headerMobileExitFontSize: 1.8rem;
    --headerMobileNavBorderBottomColor: var(--secondaryColor);
    --headerMobileNavBorderBottomThickness: 1px;
    --headerMobileNavMarginHeight: 25px;
    --headerMobileNavFontSize: 1.5rem;
    --headerMobileNavTextMargin: 15px;
    --headerMobileNavTextColor: var(--secondaryColor);
    --headerMobileNavPaddingHeight: 25px;
    --headerMobileNavFontActiveColor: var(--secondaryColor);

    --heroTextColor: var(--secondaryColor);
    --heroTitleSize: 6rem;
    --heroParagraphSize: 2.75rem;
    --heroLineHeight: 3.5rem;
    --heroBgOpacity: 0.2;

    --aboutBgColor: var(--tertiaryColor);
    --aboutSectionTitle: var(--primaryColor);
    --aboutSectionTitleSize: 2rem;
    --aboutSectionTitlePaddingHeight: 50px;
    --aboutSectionTitlePaddingWidth: 0px;
    --aboutSectionVideoWidth: 90%;
    --aboutSectionTextWidth: 90%;
    --aboutSectionTextH3Size: 2rem;
    --aboutSectionTextH3MarginBottom: 50px;
    --aboutSectionTextParagraphSize: 1.2rem;

    --workSectionCardMinWidth: 300px;
    --workSectionCardMargin: 10px;
    --workSectionCardTextPadding: 30px;
    --workSectionCardH3Size: 2rem;
    --workSectionCardParagraphSize: 1rem;
    --workSectionCardH3PaddingHeight: 30px;
    --workSectionTitle: var(--primaryColor);
    --workSectionTitleSize: 2rem;
    --workSectionTitlePaddingHeight: 50px;
    --workSectionTitlePaddingWidth: 0px;

    /* -- */
    --reviewsSectionTitle: var(--secondaryColor);
    --reviewsSectionTitleSize: 2rem;
    --reviewsSectionTitlePaddingHeight: 50px;
    --reviewsSectionTitlePaddingWidth: 0px;
    --reviewsSectionMinHeight: 500px;
    --reviewSectionTextWidth: 60%;
    --reviewSectionTextColor: #fff;
    --reviewSectionTextParagraphSize: 1.1rem;
    --reviewSectionTextH3Size: 2rem;

    --contactSectionFormWidth: 80%;
    --contactSectionFormPadding: 30px;
    --contactSectionFormBorderRadius: 2px;
    --contactSectionFormMarginHeight: 50px;
    --contactSectionFormTextColor: #fff;
    --contactSectionFormBgColor: var(--primaryColor);
    --contactSectionFormInputMarginHeight: 10px;
    --contactSectionFormInputPaddingHeight: 15px;
    --contactSectionFormInputPaddingWidth: 30px;
    --contactSectionFormTextAreaHeight: 125px;
    --contactSectionFormButtonPaddingHeight: 15px;
    --contactSectionFormButtonPaddingWidth: 30px;
    --contactSectionFormButtonWidth: 30%;
    --contactSectionFormButtonTextSize: 1rem;
    --contactSectionFormButtonBgColor: var(--secondaryColor);
    --contactSectionFormButtonTextColor: var(--primaryColor);
    --contactSectionFormButtonFloat: right;
    --contactSectionFormButtonTransition: 0.5s;
    --contactSectionFormButtonBorderThickness: 2px;
    --contactSectionInfoTextColor: var(--primaryColor);
    --contactSectionInfoPaddingHeight: 50px;
    --contactSectionInfoH3TextSize: 2rem;
    --contactSectionInfoParagraphSize: 1rem;
    --contactSectionCardMargin: 10px;
    --contactSectionCardImageHeight: 350px;
    --contactSectionCardTextPadding: 15px;
    --contactSectionCardColor: var(--secondaryColor);
    --contactSectionCardBgcolor: var(--primaryColor);


    --footerBgColor: var(--primaryColor);
    --footerTextColor: var(--secondaryColor);
    --footerPaddingHeight: 25px;
    --footerPaddingWidth: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

*::selection {
    color: var(--primaryColor);
}

#contact .form *::selection,
#contact .info .card *::selection,
footer *::selection {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.clear-fix {
    clear: both;
}