:root {
    --primaryColor: #046474;
    --secondiaryColor: #F9F9F8;
    --tertiaryCcolor: #F1EFEB;

    --headerHeight: 150px;
    --headerTransition: 1s;

    --headerNavColor: var(--secondiaryColor);
    --headerNavColorHover: var(--primaryColor);
    --headerNavColorActive: var(--primaryColor);
    --headerNavOpacityColorInactive: 0.6;
    --headerBgColor: var(--secondiaryColor);
    --headerSocialsWidth: 30px;
    --headerSocialsHeight: 30px;
    --headerSocialsFontSize: 1.1rem;
    --headerSocialsBgColor: var(--secondiaryColor);
    --headerSocialsColor: var(--primaryColor);
    --headerSocialsHoverColor: var(--secondiaryColor);
    --headerSocialsHoverBgColor: var(--primaryColor);
    --headerSocialsHoverOpacity: 0.5s;

    --heroTextColor: var(--secondiaryColor);
    --heroTitleSize: 6rem;
    --heroParagraphSize: 2.75rem;
    --heroLineHeight: 3.5rem;
    --heroBgOpacity: 0.2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

*::selection {
    color: var(--primaryColor);
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}