header {
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    transition: var(--headerTransition);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    z-index: 20;
}

header * {
    transition: var(--headerTransition);
}

header .logo {
    width: 20%;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 80%;
    width: 80%;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: var(--headerNavColor);
    transition: var(--headerSocialsHoverOpacity);
}

header nav .active {
    color: var(--headerNavColorActive);
}

header nav a:hover {
    color: var(--headerNavColorHover);
}

header .socials {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .socials div {
    width: var(--headerSocialsWidth);
    height: var(--headerSocialsHeight);
    border-radius: 2.5px;
    margin: 0 2.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: var(--headerSocialsFontSize);
    background-color: var(--headerSocialsBgColor);
    color: var(--headerSocialsColor);
    cursor: pointer;
}

header .socials div:hover {
    background-color: var(--headerSocialsHoverBgColor);
    color: var(--headerSocialsHoverColor);
    transition: 0.2s;
}


.headerOnScroll {
    --headerHeight: 75px;
    --headerNavColor: var(--primaryColor);


    transition: var(--headerTransition);
    background-color: var(--headerBgColor) !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.headerOnScroll * {
    transition: var(--headerTransition);
}

.headerOnScroll nav .inactive {
    opacity: var(--headerNavOpacityColorInactive);
}

.headerOnScroll nav a {
    transition: var(--headerSocialsHoverOpacity);
}

.headerOnScroll nav a:hover {
    color: var(--headerNavColorActive);
    opacity: 1;
}