:root {
    --primaryColor: #046474;
    --secondiaryColor: #F9F9F8;
    --tertiaryColor: #F1EFEB;

    --headerHeight: 150px;
    --headerTransition: 1s;

    --headerNavColor: var(--secondiaryColor);
    --headerNavColorHover: var(--primaryColor);
    --headerNavColorActive: var(--primaryColor);
    --headerNavOpacityColorInactive: 0.6;
    --headerBgColor: var(--secondiaryColor);
    --headerSocialsWidth: 30px;
    --headerSocialsHeight: 30px;
    --headerSocialsFontSize: 1.1rem;
    --headerSocialsBgColor: var(--secondiaryColor);
    --headerSocialsColor: var(--primaryColor);
    --headerSocialsHoverColor: var(--secondiaryColor);
    --headerSocialsHoverBgColor: var(--primaryColor);
    --headerSocialsHoverOpacity: 0.5s;

    --heroTextColor: var(--secondiaryColor);
    --heroTitleSize: 6rem;
    --heroParagraphSize: 2.75rem;
    --heroLineHeight: 3.5rem;
    --heroBgOpacity: 0.2;

    --aboutBgColor: var(--tertiaryColor);
    --aboutSectionTitle: var(--primaryColor);
    --aboutSectionTitleSize: 2rem;
    --aboutSectionTitlePaddingHeight: 50px;
    --aboutSectionTitlePaddingWidth: 0px;
    --aboutSectionVideoWidth: 90%;
    --aboutSectionTextWidth: 90%;
    --aboutSectionTextH3Size: 2rem;
    --aboutSectionTextH3MarginBottom: 50px;
    --aboutSectionTextParagraphSize: 1.2rem;

    --workSectionCardMinWidth: 300px;
    --workSectionCardMargin: 10px;
    --workSectionCardTextPadding: 30px;
    --workSectionCardH3Size: 2rem;
    --workSectionCardParagraphSize: 1rem;
    --workSectionCardH3PaddingHeight: 30px;
    --workSectionTitle: var(--primaryColor);
    --workSectionTitleSize: 2rem;
    --workSectionTitlePaddingHeight: 50px;
    --workSectionTitlePaddingWidth: 0px;

    --reviewsSectionTitle: var(--secondiaryColor);
    --reviewsSectionTitleSize: 2rem;
    --reviewsSectionTitlePaddingHeight: 50px;
    --reviewsSectionTitlePaddingWidth: 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

*::selection {
    color: var(--primaryColor);
}

.visuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#about {
    width: 100%;
    background-color: var(--aboutBgColor);
}

#about section {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 50px;
}

#about > h2 {
    text-align: center;
    width: 100%;
    padding: var(--aboutSectionTitlePaddingHeight) var(--aboutSectionTitlePaddingWidth) 0 var(--aboutSectionTitlePaddingWidth);
    font-size: var(--aboutSectionTitleSize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--aboutSectionTitle);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#about .video {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .video video{
    width: var(--aboutSectionVideoWidth);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#about .text {
    display: flex;
    justify-content: center;
    text-align: center;
}

#about .text article {
    width: var(--aboutSectionTextWidth);
}

#about h1 {
    font-size: var(--aboutSectionTextH3Size);
    margin-bottom: var(--aboutSectionTextH3MarginBottom);
    font-family: "Inter", sans-serif;
}

#about p {
    font-size: var(--aboutSectionTextParagraphSize);
    font-family: "Inter", sans-serif;
}

header {
    width: 100%;
    height: var(--headerHeight);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;

    transition: var(--headerTransition);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
    z-index: 20;
}

header * {
    transition: var(--headerTransition);
}

header .logo {
    width: 20%;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo img {
    height: 80%;
    width: 80%;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    font-size: 1.2rem;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    color: var(--headerNavColor);
    transition: var(--headerSocialsHoverOpacity);
}

header nav .active {
    color: var(--headerNavColorActive);
}

header nav a:hover {
    color: var(--headerNavColorHover);
}

header .socials {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .socials div {
    width: var(--headerSocialsWidth);
    height: var(--headerSocialsHeight);
    border-radius: 2.5px;
    margin: 0 2.5px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: var(--headerSocialsFontSize);
    background-color: var(--headerSocialsBgColor);
    color: var(--headerSocialsColor);
    cursor: pointer;
}

header .socials div:hover {
    background-color: var(--headerSocialsHoverBgColor);
    color: var(--headerSocialsHoverColor);
    transition: 0.2s;
}


.headerOnScroll {
    --headerHeight: 75px;
    --headerNavColor: var(--primaryColor);


    transition: var(--headerTransition);
    background-color: var(--headerBgColor) !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.headerOnScroll * {
    transition: var(--headerTransition);
}

.headerOnScroll nav .inactive {
    opacity: var(--headerNavOpacityColorInactive);
}

.headerOnScroll nav a {
    transition: var(--headerSocialsHoverOpacity);
}

.headerOnScroll nav a:hover {
    color: var(--headerNavColorActive);
    opacity: 1;
}

#hero {
    height: 100vh;
    width: 100%;
    background-image: url("../../images/hero.jpg");
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--heroBgOpacity)); /* Adjust the opacity as needed */
    z-index: 1;
}

#hero article {
    line-height: var(--heroLineHeight);
    color: var(--heroTextColor);
    z-index: 2;
    width: 40vw;
}

#hero h2,
#hero h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add drop shadow */
    font-weight: normal;
}

#hero h2 {
    font-size: var(--heroTitleSize);
    font-weight: bold;
}

#hero h3 {
    font-size: var(--heroParagraphSize);
}

#hero h3 {
    visibility: hidden;
}

#hero h3 span {
    visibility: initial;
    padding-right: 5px;
}

#reviews {
    width: 100%;
    background-image: url("../../images/udtalelser_bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#reviews > h2 {
    text-align: center;
    width: 100%;
    padding: var(--reviewsSectionTitlePaddingHeight) var(--reviewsSectionTitlePaddingWidth) var(--reviewsSectionTitlePaddingHeight) var(--reviewsSectionTitlePaddingWidth);
    font-size: var(--reviewsSectionTitleSize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--reviewsSectionTitle);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#reviews section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#reviews section .review {
    border: 1px solid red;

}

#work {
    width: 100%;
    background-color: var(--secondiaryColor);
}

#work > h2 {
    text-align: center;
    width: 100%;
    padding: var(--workSectionTitlePaddingHeight) var(--workSectionTitlePaddingWidth) var(--workSectionTitlePaddingHeight) var(--workSectionTitlePaddingWidth);
    font-size: var(--workSectionTitleSize);
    font-weight: bold;
    text-transform: uppercase;
    color: var(--workSectionTitle);

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#work > section {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(var(--workSectionCardMinWidth), 1fr));
    padding-bottom: 50px;
}

#work .card {
    margin: var(--workSectionCardMargin);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#work .card .image img {
    width: 100%;
}

#work .card .text {
    padding: var(--workSectionCardTextPadding);
    text-align: center;
}

#work .card .text h3 {
    font-size: var(--workSectionCardH3Size);
    padding: 0 0 var(--workSectionCardH3PaddingHeight) 0;
}

#work .card .text p {
    font-size: var(--workSectionCardParagraphSize);
}